@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.employees{
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__search{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1180px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  &__search__icon{
    font-size: 30px;
    color: blueviolet; 
    position: absolute;
    left: 95%;
  }
  &__close__icon{
    font-size: 30px;
    color: blueviolet; 
    position: absolute;
    left: 95%;
  }
  &__cards{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
  }
}


input{
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border:2px solid #EEF5F6;
  padding: 10px;
}





@media screen and (max-width: 1169px){
  .employees__cards{
    justify-content: space-around;    
  }
}
@media screen and (max-width: 600px){
  .employees__search__icon {
    left: 90%;    
  }
  .employees__close__icon{
    left: 90%;    
  }
}



.spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  min-width: 210px;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}


