*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.employees{
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.employees__search{
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1180px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.search__icon{
  font-size: 30px;
  color: blueviolet; 
  position: absolute;
  left: 95%;
}
.close__icon{
  font-size: 30px;
  color: blueviolet; 
  position: absolute;
  left: 95%;
}

input{
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border:2px solid #EEF5F6;
  padding: 10px;
}

.employees__cards{
  
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  
}
.employees__card{
  min-width: 300px;
  border-radius: 15px;
  margin: 5px;
  width: 380px;
  height: 320px;
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  box-shadow: 10px 10px 20px 10px rgba(188, 188, 204, 0.164);
}




.employees__title{
  font-family: 'Robota', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 45px;
 
}

.employees__phone{
  display: flex;
  font-size: 19px;
  align-items: center;
  margin-left: 35px;
  margin-bottom: 10px;
  font-family: 'Heebo', sans-serif;
  color: #868C91;
}

.phone__icon{
  font-size: 25px;
  color: #B753D1; 
  margin-right: 10px;
}

.employees__email{
  font-family: 'Heebo', sans-serif;
  display: flex;
  font-size: 15px;
  align-items: center;
  margin-left: 38px;
  color: #868C91;
  text-decoration: underline;
}

.email__icon{
  font-size: 25px;
  color: #B753D1; 
  margin-right: 10px;
}


.modal{
  
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transform: scale(0);
}
.modal.active{
  transform: scale(1);
}

.employees__popup{
  padding: 20px;
  width: 580px;
  height: 460px;
  border: 1px solid grey;
  border-radius: 20px;
  background-color:white;
  display: flex;
  flex-direction: column;
}

.employees__popup__title{
  font-family: 'Robota', sans-serif;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  border: 1px solid grey;
 
  
}

/* .employees__popup__close{
  position: absolute;
  width: 30px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
 */


@media screen and (max-width: 1169px){
  .employees__cards{
    justify-content: space-around;    
  }
}


.spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  min-width: 210px;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
/* 
.employees__card{

  padding: 0px 15px;
  border: 1px solid grey;
  width: 380px;
  height: 320px;
 
}






.employees__email{
  display: flex;
  font-size: 15px;
  align-items: center;
  margin-left: 35px;
}
 */